name: Hanafuda-Auto-Collector

on:
  schedule:
    - cron: '0 */4 * * *' # Bot uruchomi się co 4 godziny
  workflow_dispatch:      # Pozwala Ci uruchomić go ręcznie

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install requests colorama

      - name: Execute Bot
        run: python bot.py
