name: Hanafuda-JS-Bot

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3 # To jest ta poprawna nazwa
        with:
          node-version: '18'

      - name: Install All Dependencies
        run: |
          npm install web3@1.8.0 axios chalk@4 colors fs node-fetch@2

      - name: Inject Secret and Run
        env:
          MY_TOKEN: ${{ secrets.HANA_TOKEN }}
        run: |
          echo "$MY_TOKEN" > private_keys.txt
          # Wpisujemy '1' (lub inną liczbę) automatycznie do bota
          echo "1" | node index.js 
          rm private_keys.txt
