name: Hanafuda-JS-Bot

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install All Dependencies
        run: |
          npm install web3 axios chalk colors fs readline-sync node-fetch@2 dotenv cloudflare-bypasser crypto-js

      - name: Run Bot
        run: node index.js
