name: Hana-Free-Bot
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install Axios
        run: npm install axios
      - name: Run
        env:
          MY_TOKEN: ${{ secrets.HANA_TOKEN }}
        run: |
          echo "$MY_TOKEN" > private_keys.txt
          node index.js
